body {
    position: sticky;
    background-image: url(train.jpg);
    background-attachment: fixed;
}

.travelbox {
    position: absolute;
    left: 30vw;
    top: 10vh;
    width: 40vw;
    height: auto;
    border-radius: 10px;
    background: linear-gradient(white, darkblue);
    padding: 20px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.submit {
    border-radius: 10px;
    border: 3px solid lightblue;
    width: 10vw;
    height: 6vh;
    background-color: darkred;
    color: white;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.resultbox {
    margin-left: 5vw;
    width: 30vw;
    height: auto;
    border: 2px solid rgb(204, 204, 204);
    border-radius: 6px;
    visibility: hidden;
}

.tripbox {
    width: 29vw;
    height: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.detailbutton {
    width: 10vw;
    height: auto;
    background-color: white;
    color: black;
    font-size: 1vw;
    border: 1px solid black;
    margin-top: 5px;
}

.detailbox {
    display: none;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 1vw 0px;
}

.inputfield {
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.locationtext {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}

.shiftbox{

}